# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
myenv/
env/
venv/

# Environment variables
.env


# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Others
*.sqlite3
