# Python
__pycache__/
*.pyc
*.pyo
*.pyd
# Secrets
credentials.json

# ML / Vector DB files
faiss_index.bin
metadata.pkl

# Virtual environment
myenv/
# data sets
newData/
data/

# Environment variables
.env


# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Others
*.sqlite3
